.heading-one{
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: $font-color-primary;
}

.heading-two{
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $font-color-secondary;
}